{% extends 'base.html' %} {% block body%}
<h1 class="welcome">Welcome to Rink Rats!</h1>
<h3 class="mState">
  We strive in providing an excellent experience here at Rink Rats! Providing
  amazing affordable products with a personal touch you don't get from big box
  retailers. We hope to be here for you throughout your hockey journey. We are
  dedicated to making each purchase and experience with us enjoyable and one of
  a kind! Thanks for stopping by Rink Rats!
</h3>
<h2 id="test">Testimonials</h2>
<div class="testimonials">
  <div id="testimonial-carousel" class="carousel slide" data-bs-ride="100">
    <div class="carousel-inner trending">
      <div class="carousel-item active container-fluid">
        <h4>
          "I Love Rink Rats! They have great deals and amazing customer service.
          I plan on using their products for my entire NHL career!"
        </h4>
        <img class="play" src="../static/connor_1-removebg-preview.png" />
        <em>-Connor McDavid</em>
      </div>
      <div class="carousel-item container-fluid">
        <h4>
          "After moving to the US from Russia to play in the NHL I had a hard
          time finding certain products! Rink Rats made it possible for me to
          get everything I needed!"
        </h4>
        <img class="play" src="../static/Kirill_2-removebg-preview.png" />
        <em>-Kirill Kaprizov</em>
      </div>
      <div class="carousel-item container-fluid">
        <h4>
          "I have used Rink Rats for years now! My son iss now starting the play
          hockey and I find all his equipment here on Rink Rats! My family and I
          plan on using Rink Rats for years to come!"
        </h4>
        <img class="play" src="../static/Ovi_1-removebg-preview.png" />
        <em>-Alex Ovechkin</em>
      </div>
      <div class="carousel-item container-fluid">
        <h4>
          "Great products! Being new to the NHL can be stressful but knowing I
          can get any product I need on Rink Rats and helped so much in my
          transition to being a pro!
        </h4>
        <img class="play" src="../static/Pulju_1-removebg-preview.png" />
        <em>-Jesse Puljujarvi</em>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#testimonial-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#testimonial-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div id="fix"></div>
<img
  class="logo1"
  src="../static/Hcokey_Logo_2-removebg-preview.png"
  alt="Rink Rats"
/>
{% endblock %}
