{% extends 'base.html' %} {% block body%}
<h1 class="welcome">Welcome to Cool Name!</h1>
<h3>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
  molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
  numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
  optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
  obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
  nihil, eveniet aliquid culpa officia aut!
</h3>
<h2>Testimonials</h2>
<div class="testimonials">
  <div id="testimonial-carousel" class="carousel slide" data-bs-ride="100">
    <div class="carousel-inner trending">
      <div class="carousel-item active container-fluid">
        <h4>
          Maxime mollitia, molestiae quas vel sint commodi repudiandae
          consequuntur voluptatum laborum numquam blanditiis harum quisquam eius
          sed odit fugiat iusto fuga praesentium optio, eaque rerum! Provident
          similique accusantium nemo autem.
        </h4>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0t0Yjr921udeuoaJeZCv3iug87YM8x_i6GKo1YqZBMqGoPnFYtUO5gpqUPGRaNwWaOEw&usqp=CAU"
        />
        <em>Brat Simpson</em>
      </div>
      <div class="carousel-item container-fluid">
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio, eaque rerum! Provident similique
          accusantium nemo autem.
        </h4>
        <img
          src="https://i.pinimg.com/originals/c8/5d/98/c85d9886bc076faa25f081634b9592ec.png"
        />
        <em>Lisa Simpson</em>
      </div>
      <div class="carousel-item container-fluid">
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio, eaque rerum! Provident similique
          accusantium nemo autem.
        </h4>
        <img
          src="https://static.wikia.nocookie.net/enfuturama/images/0/0b/Marge_Simpson.png/revision/latest?cb=20190305040653"
        />
        <em>Marge Simpson</em>
      </div>
      <div class="carousel-item container-fluid">
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio, eaque rerum! Provident similique
          accusantium nemo autem.
        </h4>
        <img
          src="https://upload.wikimedia.org/wikipedia/en/0/02/Homer_Simpson_2006.png"
        />
        <em>Homer Simpson</em>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#testimonial-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#testimonial-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}
