{% extends 'base.html' %} {% block body%}
<h1 class="welcome">Welcome to Rink Rats!</h1>
<h3 class="mState">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
  molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
  numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
  optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
  obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
  nihil, eveniet aliquid culpa officia aut!
</h3>
<h2>Testimonials</h2>
<div class="testimonials">
  <div id="testimonial-carousel" class="carousel slide" data-bs-ride="100">
    <div class="carousel-inner trending">
      <div class="carousel-item active container-fluid">
        <h4>
          Maxime mollitia, molestiae quas vel sint commodi repudiandae
          consequuntur voluptatum laborum numquam blanditiis harum quisquam eius
          sed odit fugiat iusto fuga praesentium optio, eaque rerum! Provident
          similique accusantium nemo autem.
        </h4>
        <img class="play" src="../static/connor_1-removebg-preview.png" />
        <em>Connor McDavid</em>
      </div>
      <div class="carousel-item container-fluid">
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio, eaque rerum! Provident similique
          accusantium nemo autem.
        </h4>
        <img class="play" src="../static/Kirill_1-removebg-preview.png" />
        <em>Kirill Kaprizov</em>
      </div>
      <div class="carousel-item container-fluid">
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio, eaque rerum! Provident similique
          accusantium nemo autem.
        </h4>
        <img class="play" src="../static/Ovi_1-removebg-preview.png" />
        <em>Alex Ovechkin</em>
      </div>
      <div class="carousel-item container-fluid">
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio, eaque rerum! Provident similique
          accusantium nemo autem.
        </h4>
        <img class="play" src="../static/Pulju_1-removebg-preview.png" />
        <em>Jesse Puljujarvi</em>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#testimonial-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#testimonial-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div id="fix"></div>
{% endblock %}
