{% extends 'base.html' %} {% block title %}All Products{% endblock %} {% block
body %}
<h2 id="proH">Sticks</h2>
<div class="main1">
      {% for product in products%} {% if product.category == "Sticks"%}
      <div class="proDiv">
        <h3>{{product.name}}</h3>
        <a href="/products/{{product.product_id}}">
          <img id="smPic" src="{{product.product_path}}" alt="Stick" />
        </a>
        <h2 id="price">${{product.price}}</h2>
        <a
          class="btn btn-primary"
          href="{{ url_for('add_to_cart', product_id=product.product_id) }}"
          >Add to Cart</a>
      </div>
      {% endif %} {% endfor %}
    </div>
    <hr>
    <h2 id="proH">Skates</h2>
    <div class="main2">
      {% for product in products%} {% if product.category == "Skates" %}
      <div class="proDiv">
        <h3>{{product.name}}</h3>
        <a href="/products/{{product.product_id}}">
          <img id="smPic" src="{{product.product_path}}" alt="Stick" />
        </a>
        <h2 id="price">${{product.price}}</h2>
        <p></p>
        <a
          class="btn btn-primary"
          href="{{ url_for('add_to_cart', product_id=product.product_id) }}"
          >Add to Cart</a
        >
      </div>
      {% endif %} {% endfor %}
    </div>
    <hr>
    <h2 id="proH">Gloves</h2>
    <div class="main3">
      {% for product in products%} {% if product.category == "Gloves" %}
      <div class="proDiv">
        <h3>{{product.name}}</h3>
        <a href="/products/{{product.product_id}}">
          <img id="smPic" src="{{product.product_path}}" alt="Stick" />
        </a>
        <h2 id="price">${{product.price}}</h2>
        <p></p>
        <a
          class="btn btn-primary"
          href="{{ url_for('add_to_cart', product_id=product.product_id) }}"
          >Add to Cart</a
        >
      </div>
      {% endif %} {% endfor %}
    </div>
    <img
  class="logo1"
  src="../static/Hcokey_Logo_2-removebg-preview.png"
  alt="Rink Rats"
/>
    {% endblock body %}
  </div>
</div>
